@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    width: 100vw;
    height: 100vh;
    
}

#dollarBackground{

    width: 100vw;
    height: 25%;
    object-fit: cover;
    position: absolute;
    z-index: -1;


}

header{

    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #ffffff00;
    justify-content: space-between;
    padding: 5px 15px 5px 15px;
    font-size: 0.5em;
    position: absolute;

}


header a{

    color: var(--color-font)
}

.name{

    display: flex;
    align-items: center;
    gap: 5px;
    letter-spacing: 2px;

}

.name h1{

    font-family: "SF-Pro-Text-Bold";
    color: var(--color-font)
}

header .name a i{

    font-size: 35px
}

header i{
    font-size: 35px;
}

.circle{

    font-family:"SF-Pro-Text-Bold";
    width: 60vw;
    height: 55vw;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #f84b4b00;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 50%;
    left: 50%;
    top: -40px;
    transform:translate(-50%, 50%);
    color: var(--color-font);
    font-size: 1.5em;
    gap:5px;

}

.container{

    height: 40%;
}

.buttons{

    display: flex;
    justify-content: center;
    height: 5%;

}

.buttons button{

    width: 33.3%;
    border: 2px solid var(--color-secundary);
    background-color: var(--color-font);
    font-family: "SF-Pro-Text-Regular";
    font-size: 1em

}

.buttons button:first-child{

    background-color: var(--color-secundary);
    color: var(--color-font);

}

.buttons button:nth-child(2){

    color: var(--color-primary);
    border: 2px solid var(--color-primary);

}

.buttons button:last-child{

    color: var(--color-gray);
    border: 2px solid var(--color-gray)

}

/******************** IMAGEN GRAFICA ******************/

.graphic{

    height: 28vh;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.graphic, .graphic img{

    width: 92%;
    object-fit: contain;
}

/******************** SPENDING CARD *******************/

.spendingBox{

    display: flex;
    font-family: "SF-Pro-Text-Regular";
    height: 17vh;
    background-color: var(--color-spendingBox);
    align-items: center;
    justify-content: center;
    align-items: center;

}

.subSpending{

    border: 1px solid black;
    width: 90vw;
    border-radius: 20px;
    height: 12vh;
    padding: 15px;
    gap: 5px;
    display: flex;
    flex-direction: column;

}

.spendingBox h3{

    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    
}

.spendingBox p:last-child{

    display: flex;
    justify-self: flex-end;
}


/* .spendingBox .spendingText{

    height: 80px;
    display: flex;
    flex-direction: column;

}

.spendingBox img{

    width: 35%;
    
}

.spendingText small{

    color: var(--color-gray);
    
}

.spendingBox img:last-child{

    position: absolute;
    top: 10px;
    width: 7vw;
    right: 10px;
    
} */


