@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body, html {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-primary);
    z-index:-1

    
}

#dollarBackground{

    width: 100vw;
    height: 28%;
    object-fit: cover;
    position: absolute;


}

header{

    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #02020100;
    justify-content: space-between;
    padding: 5px 15px 5px 15px;
    font-size: 0.7em;
    height: 50px;
    z-index: 1;
    position: relative;


}


header a{

    color: var(--color-primary)
}

.name{

    display: flex;
    align-items: center;
    gap: 5px;
    letter-spacing: 2px;


}

.name h1{

    font-family: "Font-Recursive-Bold";
    color: var(--color-semantic)
}

header .name a i{

    font-size: 35px;
    color: var(--color-semantic)

}

header i{
    font-size: 35px;
    color: var(--color-semantic)

}

.circle{

    font-family:"Font-Recursive-Regular";
    width: 60vw;
    height: 55vw;
    border-radius: 20px;
    background-color: var(--color-primary);
    text-shadow: 0px 0px 5px var(--color-font);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 50%;
    left: 50%;
    top: -40px;
    transform:translate(-50%, 50%);
    color: var(--color-font);
    font-size: 1.7em;
    gap:5px;
    border: 3px solid var(--color-semantic);
    box-shadow: 0px 0px 10px var(--color-semantic);

}

.container{

    height: 40%;
}

.buttons{

    display: flex;
    justify-content: center;
    height: 5%;

}

.buttons button{

    width: 33.3%;
    background-color: var(--color-semantic);
    font-family: "Font-Recursive-Regular";
    font-size: 1.1em;
    border: 2px solid var(--color-primary)

}


.buttons button:hover{
    background-color: var(--color-font);
    color: var(--color-primary);
    border: 2px solid var(--color-primary)

}


/******************** IMAGEN GRAFICA ******************/

.circleGraphic{

    height: 28vh;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.circleGraphic, .circleGraphic img{

    width: 95%;
    object-fit: contain;
}

/******************** SPENDING CARD *******************/

.spendingBox{

    display: flex;
    font-family: "Font-Recursive-Regular";
    height: 18vh;
    background-color: var(--color-spendingBox);
    align-items: center;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-semantic);
    background-color: var(--color-semantic);
    border-radius: 20px;
    box-shadow: 0px 0px 15px var(--color-semantic);

}

.subSpending{

    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
    width: 90vw;
    border-radius: 20px;
    height: 10vh;
    padding: 15px;
    justify-content: space-between;
    display: flex;
    color: var(--color-font);
    font-size: 0.9em;

}

.spendingBox h3{

    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    
}

.spendingBox p:last-child{

    display: flex;
    justify-self: flex-end;
}


.menu{

    background-color: var(--color-primary);
    position: fixed;
    bottom: 0;
    
    
}

.menu ul{

    display: flex;
    width: 100vw;
    height: 60px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    

}

.menu ul li{

    list-style: none;
    
}

.menu i{

    color: var(--color-font);
    font-size: 30px;
    display: flex;

}

.menu ul li i:hover {
    color: var(--color-semantic);
    transition: 0.3s ease-in-out;
}

.marrano img{

    height: 140%;
    object-fit: contain;
    object-position: center
}

.marrano{

    height: 80%;

}

