@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Font-Recursive-Bold";
    text-decoration: none;
}
body, html{

    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--color-primary);

}

.menu{

    background-color: var(--color-primary);
    position: fixed;
    bottom: 0;
    
}

.menu ul{

    display: flex;
    width: 100vw;
    height: 60px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.menu ul li{

    list-style: none;
    

}

.menu i{

    color: var(--color-font);
    font-size: 30px;
    display: flex;

}

.menu ul li i:hover {
    color: var(--color-semantic);
    transition: 0.3s ease-in-out;
}

header{

    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: (--color-primary);
    justify-content: space-between;
    padding: 5px 15px 5px 15px;
    font-size: 0.7em;
    height: 50px;
    
}


header a{

    color: var(--color-primary)
}

.name{

    display: flex;
    align-items: center;
    gap: 5px;
    letter-spacing: 2px;

    
}

.name h1{

    font-family: "Font-Recursive-Bold";
    color: var(--color-semantic)
}

header .name a i{

    font-size: 35px;
    color: var(--color-semantic)
    
}

header i{
    font-size: 35px;
    color: var(--color-semantic)
    
}
    
.contenedor{

    width: 100%;
    height: 85vh;
    /* border: 1px solid black; */
}

/************ CARD_1 ************/

.tips{

    height: 30%;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
    gap: 10px;
    margin-top: 20px;

}

.tipsCarrusel{

    display: grid;
    grid-template-columns: repeat(3, 85vw);
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 15px;
    align-items: center;
    width: 100%;

}

.tipsbox{

    display: flex;
    background-color: var(--color-primary);
    border-radius: 20px;
    align-items: center;
    width: 100%;
    gap: 20px;
    position: relative;
    height: 95%;
    justify-content: center;
    border: 2px solid var(--color-font);
    box-shadow: 0px 0px 8px var(--color-font);
    margin: 8px


}

.tipsbox img{

    height: 100%;
    width: 45%;
    border-radius: 20px;
    display: flex;
    margin-left: 5px

}

.tipsbox img:nth-child(2){

    width: 8%;
    position: absolute;
    bottom: 57px;
    right: 10px;

}

.text{

    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 45%;

}

.text button{

    height: 30px;
    width: 80%;
    border-radius: 20px;
    border: linear-gradient(to bottom, #BC9026, #F3BA2F, #AE8522);
    background: linear-gradient(to bottom, #BC9026, #F3BA2F, #AE8522);
    color: var(--color-icons);
    font-family: "Font-Recursive-Regular";
    font-size: 0.8em;


}

.tips h3{

    font-size: 1.5em;
    color: var(--color-font)
    

}
.text b{

    font-size: 1.1em;
    color: var(--color-semantic);
}

.text p{

    font-size: 0.9em;
    color: var(--color-font);
    font-family: "Font-Recursive-Regular";
}

/************ CARRUSEL ***************/

.myCards {
    height: 70%;
    margin-left: 25px;

}
.myCards h1{

    margin-top: 20px;
    color: var(--color-font)
}

.carrusel{

    height: 80%;
    display: flex;
    overflow: scroll;
    margin-top: 20px
}

.element1, .element2{

    flex: 1 0 auto;
    margin-right: 17px;
    width: 250px;
    height: 100%;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat ;
    position: relative;
}

.element1{

    background-image: url(../storage/img/card1.svg);

}

.element2{

    background-image: url(../storage/img/card2.svg);
}

.element1 small{

    position: absolute;
    right: 25px;
    top: 28px;
    color: var(--color-font);

}

.element1 b{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-font);
    font-size: 2.5em;
    text-shadow: 0px 0px 5px var(--color-font);
    text-align: center;

}

.element1 img{

    position: absolute;
    bottom: 20px;
    width: 20%;
    left: 20px

}

.element2 small{

    position: absolute;
    right: 25px;
    top: 28px;
    color: var(--color-font);

}

.element2 b{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-font);
    font-size: 2.5em;
    text-shadow: 0px 5px 10px var(--color-primary);

}

.element2 img{

    position: absolute;
    bottom: 20px;
    width: 25%;
    left: 20px

}

.myCards span{

    color: var(--color-semantic)
}