@font-face {
    font-family: "Font-Recursive-Bold";
    src: url(../storage/fonts/BellotaFont/Recursive/Recursive-Bold.ttf);
}

@font-face {
    font-family: "Font-Recursive-Regular";
    src: url(../storage/fonts/BellotaFont/Recursive/Recursive-Regular.ttf);
}

:root{
    --color-primary:#020201;
    --color-semantic: #dfb022;
    --color-font: #e3e8ec;
    --color-secundary: #52595f;
}