@font-face {
    font-family: "Font-Recursive-Bold";
    src: url(../storage/fonts/BellotaFont/Recursive/Recursive-Bold.ttf);
}

@font-face {
    font-family: "Font-Recursive-Regular";
    src: url(../storage/fonts/BellotaFont/Recursive/Recursive-Regular.ttf);
}

:root{
    --color-secundary: #52595fd2;
    --color-font: #f3efef;
    --color-spendingBox: #E1FFEF;
    --color-background: #1e1e1e;
    --color-primary:#020201;
    --color-semantic: #dfb022;
}
