@font-face {
    font-family: "SF-Pro-Text-Regular";
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Regular.otf);
}
:root{
    --color-primary: #FF2D55;
    --color-background: #121649;
    --color-icons: #ffffff;
}

