<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVETO</title>
    <script src="js/app.js" type="module" defer></script>
    <link rel="shortcut icon" href="storage/img/icono0.svg" type="image/svg">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/style.css">
    
</head>

<body>

    <div class="container">
        <img id="dollarBackground" src="../storage/img/dollarBackground.svg" alt="">

        <header>

            <div class="name">
                <a href="#" class="icono-izquierda"><i class="bx bxs-component"></i></a>
                <h1>VIRTUAL VAULT</h1>
                
            </div>
            
            <div class="icono_menu">
                <a href="#" class="icono-derecha"><i class='bx bx-menu-alt-right' ></i></a>
            </div>
        </header>


        <div class="circle">
            <p>Total</p>
            <p>Balance</p>
            <p><small>$</small>214,417</p>
        </div>
    </div>

    <div class="buttons">
        <button>Assets</button>
        <button>Debt</button>
        <button>Income</button>
    </div>

    <div class="circleGraphic">
        <img src="../storage/img/circleGraphic.svg" alt="">
    </div>

    <section class="spendingBox">

        <div class="spendingText">
            <h3>Recomended</h3>


            <div class="subSpending">
                <div class="subSubSpending">
                    <p>Basic plan</p>
                    <p>Perfect your starters</p>
                    <b>$70 / month</b>
                </div>

                <div class="marrano">
                    <img src="../storage/img/marrano.svg" alt="">
                </div>
            </div>


        </div>
    </section>

    <nav class="menu">

            <ul>
                <li>
                    <a href="../index.html"><i class='bx bx-home'></i></a>
                </li>
                <li>
                    <a href="./balance.html"><i class='bx bx-line-chart'></i></a>
                </li>
                <li>
                    <a href="./profile.html"><i class='bx bx-user'></i></a>
                </li>

            </ul>



    </nav>



</body>



</html>